<div class="container-fluid">
	<div class="row bg-light">
		<div class="col-sm-12">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">#id</th>
			      <th scope="col">Name</th>
			      <th scope="col">Document</th>
			      <th scope="col">Date of Birth</th>
			      <th scope="col">Animals</th>
			      <th scope="col">Monthly Cost</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @people.each do |person| %>
				    <tr>
				      <th scope="row"><%= person.id %></th>
				      <td><%= person.name %></td>
				      <td><%= person.document %></td>
				      <td><%= person.date_of_birth %></td>
				      <td><%= person.animals_name(person) %></td>
				      <td><%= person.animals_sum(person) %></td>
				    </tr>
				  <% end %>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="row bg-warning p-3">
		<div class="col-sm-8 offset-sm-2 bg-white rounded">
			<%= simple_form_for @animal do |f| %>
				<%= f.input :person_id, collection: @people, prompt: "Select your person", label: "Owner" %>
				<%= f.input :name, label: "Animal name" %>
				<%= f.input :monthly_cost, label: "Monthly cost", as: :decimal %>
				<%= f.input :animal_kind_id, collection: @animal_kinds, label_method: :kind, prompt: "Select the animal type", label: "Animal type" %>
				<%= f.submit "Save", class: "mb-2 btn btn-outline-warning" %>
			<% end %>
		</div>
	</div>
	
	<div class="row bg-danger p-3">
		<div class="col-sm-8 offset-sm-2 bg-white rounded">
			<p>Need create more people?</p>
			<%= simple_form_for @person do |f| %>
				<%= f.input :name %>
				<%= f.input :document %>
				<%= f.input :date_of_birth %>
				<%= f.submit class: "mb-2 btn btn-outline-danger" %>
			<% end %>
		</div>
	</div>

	<div class="row bg-success p-3">
		<div class="col-sm-8 offset-sm-2 bg-white rounded">
			<p>Need create more animals kind?</p>
			<%= simple_form_for @animal_kind do |f| %>
				<%= f.input :kind %>
				<%= f.submit class: "mb-2 btn btn-outline-success" %>
			<% end %>
		</div>
	</div>
</div>